@charset "utf-8";
/* CSS Document */

#grider3 { width:80%; height: auto; display: grid; margin: 5vw auto; grid-gap: 20px; grid-template-columns: auto auto auto; }
.grider3cell { display:block; width: auto; min-width:100px; height:auto; min-height: 30vh; margin: 0 20px 20px; }
.celltxt { display:block; width:100%; height:auto; padding:20px; font-size:30px; text-align:center; color:#FFFFFF; font-weight:bold; }
.cellalttxt { color:#ccc; font-style:italic; }
#celda01 { background:url(/images/hi.png) #006666 center bottom no-repeat; background-size: 60%; }
#celda02 { background:url(/images/me.png) #123456 center bottom no-repeat; background-size: 60%; }
#celda03 { background:url(/images/what.png) #3333FF center bottom no-repeat; background-size: 60%; }
#celda04 { background:url(/images/things.png) #66CC33 center bottom no-repeat; background-size: 60%; }
#celda05 { background:url(/images/some.png) #FF9933 center bottom no-repeat; background-size: 60%; }
#celda06 { background:url(/images/touch.png) #CC6699 center bottom no-repeat; background-size: 60%; }

@media only screen and (max-width: 1030px) { 

	#grider3 { grid-template-columns: auto auto; }
	.grider3cell { min-height:25vw; }

}

@media only screen and (max-width: 700px) { 

	#grider3 { width:100%; display: block; margin: 0 auto; padding: 0 5% 0; }
	.grider3cell { min-height:50vw; margin:30px auto 0; }


}

