@charset "utf-8";
/* CSS Document */

#grider2 { width:80%; height: auto; display: grid; margin: 5vw auto; grid-gap: 20px; grid-template-columns: auto auto; }
.grider2cell { display:block; width: auto; min-width:100px; height:auto; min-height: 30vh; margin: 0 20px 20px; }
.celltxt { display:block; width:100%; height:auto; padding:20px; font-size:30px; text-align:center; color:#FFFFFF; font-weight:bold; }
.cellalttxt { color:#ccc; font-style:italic; }
#celda01 { background:url(/images/corner-left.png) #006666 left bottom no-repeat; background-size: 20%; }
#celda02 { background:url(/images/corner-right.png) #006666 right bottom no-repeat; background-size: 20%; }

@media only screen and (max-width: 700px) { 

	#grider2 { width:100%; display: block; margin: 0 auto; padding: 0 5% 0; }
	.grider2cell { min-height:50vw; margin:30px auto 0; }


}

