#comandatitle {
    display: block;
    width: 48%;
    position: absolute;
    right: 0;
    top: 0; 
    text-align: right; 
    padding-bottom: 10px; 
    font-family: Arial; 
    font-size: 24px; 
    font-weight: bold; 
    letter-spacing: 2px; 
    border-bottom: #555 2px solid;
}


#listorder { 
    position: absolute; 
    right: 0; 
    top: 40px; 
    display: block; 
    width: 48%; 
    height: calc(100% - 150px); 
    padding: 10px; 
    list-style: none; 
    overflow: auto;
}






#listorder li { 
    padding: 7px 9px; 
    margin: 5px 0;
    font-family: arial;
    letter-spacing: .5px;
    font-size: 14px;
}

#listorder li span {

    cursor: pointer;
   
}

#listorder li button {

    cursor: pointer;
    float: right;
    padding: 1px 3px;
    border: 1px dotted;
    border-radius: 3px;
    background-color: transparent;
    font-size: 10px;
   
}

