#listmenu { 
    position: absolute;
    top: 0;
    left: 0;
    display: block; 
    width: 50%; 
    height: 48px; 
    padding: 10px; 
    border: solid 1px #555; 
    font-family: arial; 
    font-size: 17px; 
    font-weight: bold; 
    border-radius: 5px 5px 0 0; 
}


